#header
	.container
		.row
			.span8
				.logo
					%span noob
					= image_tag "ninja.png", :class => "ninja"
					%span ninja
	= render "layouts/social"
.tagline
	.container
		.row
			.span8
				one-on-one help for specific programming or design tasks

/NN connects those who want to learn to those who already know
/learn new programming + design skills in 15-60 minute sessions
/noob-ninja - n. any web programmer or designer with a desire to learn more about their craft.
/.tagline
/learn new programming + design skills from awesome people
/noob-ninja - n. any web programmer or designer with a desire to learn more about their craft.